@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Averta";
    src: url("/fonts/Averta.otf");
}

@font-face {
    font-family: "Averta Bold";
    src: url("/fonts/Averta-Bold.otf");
}

/* black: #001429; */
/* carrot red: #e8663d; */
/* safe green: #0d8e74; */
/* developers blue: #009cb4; */
/* inverted white; #e8e7e6; */
/* auctions blue #001429; */
/* white: #e8e7e6; */

.capsized_4-0 {
    font-size: 22.521px;
    line-height: 16px;
}
  
.capsized_4-0::before {
    content: "";
    margin-bottom: 0.0706em;
    display: table;
}
  
.capsized_4-0::after {
    content: "";
    margin-top: -0.0706em;
    display: table;
}

.capsized_4-4 {
    font-size: 22.521px;
    line-height: 32px;
}

.capsized_4-4::before {
    content: "";
    margin-bottom: -0.2847em;
    display: table;
}

.capsized_4-4::after {
    content: "";
    margin-top: -0.4258em;
    display: table;
}

.capsized_6-6 {
    font-size: 33.7814px;
    line-height: 48px;
}
  
.capsized_6-6::before {
    content: "";
    margin-bottom: -0.2847em;
    display: table;
}
  
.capsized_6-6::after {
    content: "";
    margin-top: -0.4258em;
    display: table;
}

.capsized_8-8 {
    font-size: 45.0419px;
    line-height: 64px;
}
  
.capsized_8-8::before {
    content: "";
    margin-bottom: -0.2847em;
    display: table;
}
  
.capsized_8-8::after {
    content: "";
    margin-top: -0.4258em;
    display: table;
}